@import "@shared/styles/color.scss";

@mixin hover-status($color, $decoration) {
  color: $color;
  text-decoration: $decoration;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: $white;
}

.link {
  padding: 26px 22px 25px 21px;
  display: block;
  line-height: 0;
}

.title {
  font-size: 18px;
  padding: 24px 0 13px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 23px;
  color: $black-100;
}

.button {
  color: $black-40;
  padding: 0 10px;
  font-size: 14px;
  line-height: 18px;
  background-color: inherit;
}

.menu {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 12px 21px 12px 13px;
  background-color: $white;
  border-top: 3px solid $background;
}

.list {
  display: flex;
}

.menu_link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 8px;
  color: $black-80;

  &:not(:first-child) {
    margin-left: 16px;
  }

  &[aria-selected="true"] {
    background-color: $red-50;
    color: $white;
    border-radius: 100px;

    &:hover {
      @include hover-status($white, none);
    }
  }

  &[aria-selected="false"] {
    &:hover {
      @include hover-status(inherit, none);
    }
  }
}
