.setting-menu {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 20px 0;

  .icon {
    margin-right: 15px;
  }

  .label {
    color: $black-80;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.015em;
  }

  .config {
    margin: auto 0 auto auto;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: $black-50;
  }
}
