@import "../../styles/main.scss";

.notice {
  height: calc(var(--vh, 1vh) * 100 - 68px);

  .header-wrapper {
    position: fixed;
    top: 0;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 13px 35px 14px 23px;
      background: #fff;
      border-bottom: 1px solid $background-20;
      @include typography(18);
      font-weight: 500;
    }
  }

  .notification-list-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

}
