.home {
  padding: 34px 25px 100px 35px;
  background: #f5f6fa;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;

    > button {
      background: transparent;
      padding: 10px;
      cursor: pointer;
    }

    > div:last-child {
      margin-right: 0;
    }

    > p {
      padding-right: 10px;
      line-height: 24px;
    }
  }

  .schedule {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .show-guide {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 22px 0 16px 0;
      text-align: center;
      color: $black-40;

      > span {
        margin-top: 9px;
        @include typography(14);
        font-weight: 500;
      }

      > p {
        margin-top: 9px;
        @include typography(12);
        line-height: 18px;
      }
    }
  }

  .show-final-guide {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 24px 0 24px 0;
      text-align: center;

      > p {
        @include typography(14);
        line-height: 18px;
        color: $black-80;

        span {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.suggestion-mode {
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
}
