.home {
    padding: 34px 25px 100px 35px;
    background: #f5f6fa;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .content {
            .title {
                font-weight: 500;
                font-size: 25.5px;
                line-height: 31px;
            }

            > p {
                color: #aaa;
            }
        }

        > button {
            background: transparent;
            padding: 10px;
            cursor: pointer;
        }
    }
    .schedule {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 23px;
            margin-bottom: 35px;
            min-width: 70%;
        }
        > div:last-child {
            margin-right: 0;
        }
        > p {
            padding-right: 10px;
            line-height: 24px;
        }
    }
    .information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: calc((100% - 25px) / 2);
            padding: 22px 0;

            > strong {
                font-size: 13px;
                line-height: 16px;
                color: #6c6c6c;
            }

            .amount {
                line-height: 22px;
                font-size: 18px;
                font-weight: 500;
                color: #363636;
            }

            .description {
                font-size: 13px;
                color: #6c6c6c;
            }

            .more {
                color: #aaa;
                font-size: 12px;
            }
        }
    }

    .cafeteria {
        margin-bottom: 35px;

        > div {
            padding: 17px;
        }
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            color: #202020;

            .location {
                display: flex;
                align-items: center;

                > svg {
                    margin-left: 10px;
                }
            }

            .time {
                color: #aaa;
            }
        }
        .content {
            padding: 21px 20px 0px 0px;
            line-height: 25px;
            font-size: 12px;
        }
    }
    .notification {
        > div {
            padding: 20px 25px 24px;
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            color: #202020;

            .category {
                color: #aaa;

                > span:first-child {
                    margin-right: 13px;
                }
            }
        }
        .content {
            > p {
                font-size: 13px;
                line-height: 16px;
            }
            > p:last-child {
                margin: 0;
            }
        }
    }
}
