.suggestion-modal {
  @include position(absolute, top 0 left 0 right 0 bottom 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 120;
  background-color: rgba(27, 27, 27, 0.85);

  .content-box {
    position: relative;
    display: flex;
    width: 324px;
    height: 696px;
    background-color: $black-0;
    border-radius: 20px;

    .close-button {
      @include position(absolute, top 25px right 27px);
    }

    .temperature-list {
      margin: 74px 0 0 30px;

      .temperature {
        @include typography(16);
        text-align: right;
        line-height: 26px;
        letter-spacing: 0.015em;
        color: $black-40;

        &:not(:first-child) {
          margin-top: 61px;
        }
      }

      .current-temperature {
        color: $black-100;
      }
    }

    .temperature-bar {
      width: 8px;
      height: 577px;
      margin: 72px 0 0 25px;
      background: linear-gradient(180deg, #f47979 0%, #769de9 100%);
      border-radius: 20px;
    }

    .suggestion-list {
      margin: 74px 0 0 26px;

      .suggestion {
        @include typography(14);
        width: 138px;
        line-height: 30px;
        letter-spacing: 0.01em;
        word-break: keep-all;
        color: $black-40;

        &:not(:first-child) {
          margin-top: 27px;
        }
      }

      .current-suggestion {
        color: $black-100;
      }
    }
  }
}
