$total-margin-of-top-and-bottom: 130px;

@mixin default-gradient-box {
  position: absolute;
  width: 324px;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.suggestion-modal {
  @include position(fixed, top 0px left 0px right 0px bottom 0px);
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  background-color: rgba(27, 27, 27, 0.85);

  .content-box {
    position: relative;
    width: 324px;
    background-color: $black-0;
    border-radius: 20px;

    .scroll-box {
      @include safe-area-100vh(max-height, $total-margin-of-top-and-bottom);
      overflow-y: scroll;

      .content {
        display: flex;
        margin: 70px 0 40px;

        .temperature-list {
          margin-left: 30px;

          .temperature {
            @include typography(16);
            text-align: right;
            line-height: 26px;
            letter-spacing: 0.015em;
            color: $black-40;

            &:not(:first-child) {
              margin-top: 61px;
            }
          }

          .current-temperature {
            color: $black-80;
          }
        }

        .temperature-bar {
          width: 8px;
          height: 669px;
          margin: 2px 0 0 25px;
          background: linear-gradient(180deg, #f47979 0%, #769de9 100%);
          border-radius: 20px;
        }

        .suggestion-list {
          margin-left: 26px;

          .suggestion {
            @include typography(14);
            width: 138px;
            line-height: 30px;
            letter-spacing: 0.01em;
            word-break: keep-all;
            color: $black-40;

            &:not(:first-child) {
              margin-top: 27px;
            }
          }

          .current-suggestion {
            color: $black-80;
          }
        }
      }
    }
  }

  .top-gradient-box {
    @include default-gradient-box();
    height: 70px;
    top: 0;
  }

  .bottom-gradient-box {
    @include default-gradient-box();
    height: 47px;
    bottom: 0;
    transform: rotate(-180deg);
  }

  .close-button {
    @include position(absolute, top 15px right 17px);
    padding: 10px;
    line-height: 1px;
    z-index: 1;
  }
}
