@import "@shared/styles/color.scss";
@import "@shared/styles/variables.scss";
@import "@shared/styles/mixin.scss";

.content {
  padding: 11px 15px 0 13px;
  background-color: $background;
}

.tooltip {
  margin: 129px 8px 0;
  border-radius: 4px;
  background-color: $white;
  padding: 7px 21px;

  & + .content {
    .image_list {
      margin-top: 0;
    }
  }

  .tooltip_title {
    font-size: 12px;
    line-height: 20px;
    color: $black-60;
  }
}
