.board-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 86px;
  padding: 26px 24px;
  margin-bottom: 14px;
  border-radius: 20px;
  background: $black-5;
  cursor: pointer;

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black-80;
    letter-spacing: 0.02em;
  }

  .icons {
    display: flex;
    gap: 28px;
  }

  .content {
    font-size: 14px;
    line-height: 30px;
    color: $black-50;
    letter-spacing: 0.01em;
  }
}

.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title {
    svg {
      margin-left: 8px;
      rotate: 180deg;
    }
  }
}