@import "@shared/styles/color.scss";

$footerHeight: 65px;
$footerLinkDistance: 20px;
$linkHeight: 61px;
$linkTooltipDistance: 17px;

.map {
  width: 100vw;
  height: 100vh;
}

.wrap {
  position: relative;
  z-index: 100;
}

.place_wrap {
  position: fixed;
  bottom: $footerHeight + $footerLinkDistance + $linkHeight + $linkTooltipDistance;
  right: 26px;
  border-radius: 10px;
  padding: 10px 10px 10px 14px;
  background-color: $white;
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 17px;
  color: $black-80;
}

.content {
  position: relative;
}

.close_button {
  position: absolute;
  top: -4px;
  right: 0;
  background-color: transparent;
  padding: 10px;
  margin: -10px;
}

.close_icon {
  width: 11px;
  height: 10px;
}

.small_icon {
  margin: 0 3px -1px 0;
}

.arrow {
  position: absolute;
  top: 30px;
  right: 48px;
  z-index: -1;

  path {
    stroke: $white;
  }
}

.link {
  position: fixed;
  width: 62px;
  height: 62px;
  bottom: $footerHeight + $footerLinkDistance;
  right: 15px;
  background-color: $red-50;
  border-radius: 50%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
