.slider {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  overflow-x: auto;
  background: $black-0;
}

.slider-item {
  display: block;
  white-space: nowrap;
  padding: 8px 12px;
  background: $black-10;
  border-radius: 20px;

  path {
    fill: $black-60;
  }

  &.active {
    font-weight: 500;
    background: $red-20;
    color: $red-100;

    path {
      fill: $red-100;
    }
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}
