.container {
  padding: 20px 24px;
  background: #fff;
  border-radius: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .guide-wrapper {
      display: flex;
      font-size: 16px;
    }

    .title {
      @include typography(18);
      font-weight: 500;
    }

    .button-wrapper {
      display: flex;

      .popular {
        margin-right: 20px;
        color: $black-40;
      }

      .subscribe {
        margin-right: 8px;
        color: $black-40;
      }

      .active {
        color: $red-50;
      }
    }
  }

  .content {
    padding-top: 24px;
    font-size: 13px;

    .title {
      margin-bottom: 28px;
      @include ellipsis;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
}

.overlay {
  border-radius: 4px;
  font-size: 12px;
  color: #676767;
}

.trigger {
  margin-left: 8px;
}
