.container {
  padding: 10px 24px 25px;
  background: #fff;
  border-radius: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    .guide-wrapper {
      font-size: 16px;
    }

    .title {
      @include typography(18);
      display: inline-block;
      margin-top: 7px;
      font-weight: 500;
    }

    .button-wrapper {
      display: flex;

      .popular {
        padding: 10px;
        color: $black-40;
      }

      .subscribe {
        padding: 10px 8px 10px 10px;
        color: $black-40;
      }

      .active {
        color: $red-50;
      }
    }
  }

  .content {
    padding-top: 24px;
    font-size: 13px;

    .title {
      margin-bottom: 28px;
      @include ellipsis;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .link {
      display: block;
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
}

.overlay {
  border-radius: 4px;
  font-size: 12px;
  color: #676767;
}

.trigger {
  padding: 10px 10px 10px 8px;
  line-height: 1px;
  vertical-align: top;
}
