.link {
  display: inline-block;
  line-height: 1px;
  padding: 22px 24px;
}

.subscription {
  padding: 8px;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 102px;
    padding: 20px;
    margin-bottom: 8px;
    background: $black-0;
    border-radius: 20px;

    .buttons {
      display: flex;
      justify-content: flex-end;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.empty-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
}