@import "@shared/styles/color.scss";
@import "src/styles/mixin.scss";

.label {
    display: block;
    color: $gray-500;

    .select {
        @include roundBox($border: 2px solid $blue-200);

        &:focus {
            border: 2px solid $blue-200;
        }
    }
}
