.container {
    margin: 3rem 3rem 0 15rem;
    padding-bottom: 3rem;
    width: 65%;

    .main-title {
        font-size: 2rem;
        font-weight: 500;
    }

    .sub-title {
        margin-top: 1rem;
        font-size: 1.1rem;
    }

    .column-titles {
        display: flex;
        margin-top: 2rem;
        padding: 1.5rem;
        font-weight: 600;

        .title {
            display: block;
            width: 20%;
            text-align: center;
        }
    }

    .card {
        margin-bottom: 0.5rem;
    }
}
