@import "../../styles/main.scss";
@import "../../../../shared/src/styles/mixin.scss";

.calendar {
    color: $black-80;

    .sticky-box {
        position: sticky;
        top: 0;
        z-index: 1;

        .add-link {
            @include position(absolute, top 20px right 22px);
        }
    }
}
