@import "@shared/styles/color.scss";

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 13rem;
  height: 100vh;
  z-index: 1;
  background-color: $white;

  .nickname {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: large;
  }

  .outer-ul {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 2rem;

    .logo {
      font-size: 1.3rem;
      font-weight: bold;
    }

    li {
      ul {
        display: flex;
      }

      p {
        margin: 1rem 0 0 0.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
      }

      ul {
        // display: none;
        flex-direction: column;
        margin: 0 0 0 1rem;
        align-items: left;

        span {
          line-height: 1;
          font-size: 0.8rem;
          font-weight: 600;
          color: $google-red;
        }

        .nav-link {
          margin-left: 0.2rem;
          margin-top: 1.5rem;
          font-size: 1.2rem;
          font-weight: 200;
          cursor: pointer;
          background-color: transparent;

          &:hover {
            font-weight: 600;
            color: $dark-navy;
          }
        }

        .page-activated {
          font-weight: 600;
          color: $dark-navy;
        }
      }

      .list-activated {
        display: flex;
      }
    }
  }
}
