.article {
  .header {
    @include position(fixed, top 0);
    @include safe-area-width-100-percent(width, 0px);
    padding-top: $safe-area-top-11;
    padding-top: $safe-area-top-11-2;
    background-color: $white;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 24px;
    border-bottom: 1px solid $background-20;
    background: $black-0;
    color:$black-100;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    svg {
      stroke: $black-60;
    }
  }

  .article-list-wrap {
    padding: 124px 0 72px 0;
  }
}