$total-margin-of-top-and-bottom: 220px;

@mixin default-gradient-box {
  position: absolute;
  width: 328px;
  border-radius: 18px 18px 0 0;
}

.dimmed-box {
  @include position(fixed, top 0px left 0px right 0px bottom 0px);
  z-index: 1200;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.85);

  .selector {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .selector-title {
      @include typography(18);
      position: relative;
      margin-top: 40px;
      font-weight: 500;
      line-height: 0;
      color: $black-100;
      z-index: 1;
    }

    .top-gradient-box {
      @include default-gradient-box();
      height: 70px;
      top: 0;
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.9375) 56.25%, rgba(255, 255, 255, 0) 100%);
    }

    .list {
      @include safe-area-100vh(height, $total-margin-of-top-and-bottom);
      max-height: 460px;
      width: 100%;
      overflow-y: scroll;

      .item {
        margin-top: 38px;
        text-align: center;

        &:first-child {
          margin-top: 33px;
        }

        .button {
          @include typography(16);
          margin: -10px;
          padding: 10px;
          width: 100%;
          line-height: 26px;
          color: $black-40;
        }

        .selected {
          @include typography(18);
          line-height: 28px;
          font-weight: 500;
          color: $black-100;
        }
      }
    }

    .cancel {
      @include typography(14);
      position: relative;
      width: 120px;
      height: 47px;
      margin-bottom: 27px;
      color: $black-80;
      background-color: $black-10;
      border-radius: 10px;
      line-height: 30px;
      z-index: 1;
    }

    .bottom-gradient-box {
      @include default-gradient-box();
      height: 84px;
      bottom: 0;
      transform: rotate(-180deg);
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.9375) 80.25%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .description {
    @include typography(14);
    display: block;
    margin-top: 47px;
    line-height: 30px;
    color: $black-80;
    text-align: center;
  }
}
