.schedule{
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
        div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    margin-right: 23px;
    }
    p{
        line-height: 24px;
        font-weight: 500;
        padding-right:10px;
    }
}