$place-top-bar: 60px;
$chip-list: 60px;
$place-header: 120px;

.header {
  @include position(fixed, top 0 right 0 left 50%);
  transform: translateX(-50%);
  @include safe-area-width-100-percent(width, 0px);
  z-index: 100;
  height: $place-header;
  padding-top: $safe-area-top-11;
  padding-top: $safe-area-top-11-2;
  background-color: $white;
}

.link {
  @include safe-area-position(absolute, top 22px left 24px);
  line-height: 0;
}

.title {
  font-size: 18px;
  padding: 20px 40px 14px;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  color: $black-100;

  @include ellipsis;
}

.place_link {
  color: $black-40;
  padding: 26px 10px;
  font-size: 14px;
  line-height: 18px;
  background-color: inherit;
  flex: 0 0 auto;
}

.tooltip {
  margin: $place-header + 9px 8px 0;
  border-radius: 4px;
  background-color: $white;
  padding: 7px 21px;

  & + .content {
    .image_list {
      margin-top: 0;
    }
  }

  .tooltip_title {
    font-size: 12px;
    line-height: 20px;
    color: $black-60;
  }
}
