.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 60px;
  background-color: $white;
}

.link {
  @include position(absolute, top 22px left 24px);
  line-height: 0;
}

.title {
  font-size: 18px;
  padding: 20px 40px 14px;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  color: $black-100;

  @include ellipsis;
}

.place_link {
  color: $black-40;
  padding: 26px 10px;
  font-size: 14px;
  line-height: 18px;
  background-color: inherit;
  flex: 0 0 auto;
}

.tooltip {
  margin: 129px 8px 0;
  border-radius: 4px;
  background-color: $white;
  padding: 7px 21px;

  & + .content {
    .image_list {
      margin-top: 0;
    }
  }

  .tooltip_title {
    font-size: 12px;
    line-height: 20px;
    color: $black-60;
  }
}
