
.contact {
  padding: 36px 45px 28px 42px;
  border-radius: 20px;
}

.list {
  .name {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: $black-80;

    &:not(:first-child) {
      margin-top: 12px;
    }
  }
}
