.cafeteria-menu-card {
  margin-bottom: 24px;
  padding: 16px 24px 15px;
  &:last-of-type {
    margin: 0;
  }
  .time {
    display: flex;
    margin-bottom: 17px;
    .meal-time {
      margin-top: 3px;
      font-weight: 500;
      @include typography(14);
      line-height: 25px;
      color: $black-100;
    }
    &-info {
      margin-left: auto;
      font-weight: 400;
      @include typography(14);
      line-height: 30px;
      color: $black-50;
    }
  }
  .meal {
    margin-top: 15px;
    font-size: 14px;
    line-height: 34px;
    &-menu {
      color: $black-80;
    }
    &-calorie {
      display: block;
      color: $black-50;
    }
  }
}
