.image-modal {
  .header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 22.92%, rgba(0, 0, 0, 0) 100%);
    z-index: 101;

    .buttons {
      display: flex;
      justify-content: flex-end;
      padding: 28px 20px 0 0;

      .download {
        margin-right: 44px;
      }
    }
  }

  .body {
    height: calc(var(--vh, 1vh) * 100);

    .modal-slider {
      position: absolute;
      top: 50%;
      margin: auto;
      transform: translateY(-50%);
    }

    img {
      width: 100%;
    }
  }
}

.dimmed {
  @include position(fixed, top 0 left 0 right 0 bottom 0);
  z-index: 101;
  background: rgba(27, 27, 27, 0.85);
}