.loading {
  margin: 0 auto;
  cursor: not-allowed;
  .spinner {
    margin: 0 auto;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    animation: spinner .8s linear infinite;
  }
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
