.wrap {
  position: relative;
}

.map-header {
  height: inherit;
}

.detail-button {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 10px;
  margin: -10px;
}

.link-call {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: -10px;
  padding: 10px;

  svg path {
    fill: $white;
  }
}

.back-image {
  @include position(absolute, top 0 left 0 right 0);
  z-index: -1;
  width: 100%;
  height: 398px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu {
  background-color: #fff;
  border-radius: 20px;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.description {
  padding: 20px 24px 20px;
}

.description-title {
  @include typography(16);
  font-weight: 500;
  line-height: 25px;
  color: $black-80;
}

.description-text {
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-top: 16px;
  color: $black-80;
  white-space: pre-wrap;
}

.detail {
  padding: 22px 24px 20px;
  background-color: $white;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.detail-title {
  @include typography(16);
  font-weight: 500;
  letter-spacing: 0.015em;
  color: $black-80;

  @include ellipsis;
}
