$top-height: 446px;
$footer-height: 64px;
$empty-box-height: calc(var(--vh, 1vh) * 100 - $top-height - $footer-height);

.empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 161px;
  height: calc(var(--vh, 1vh) * 100 - $top-height - $footer-height);
  margin-top: 20px;

  .description {
    @include typography(14);
    color: $background-50;
    line-height: 30px;
  }
}

.card-box {
  padding: 13px 10px 154px;

  .floating-button {
    @include position(fixed, bottom 84px right 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    transform: rotate(90deg);
    border-radius: 27px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    background-color: $black-0;
  }
}
