$black-0: #ffffff;
$black-5: #f6f7fb;
$black-10: #eeeded;
$black-20: #c3c3c3;
$black-40: #aaaaaa;
$black-50: #828282;
$black-60: #5e5e5e;
$black-80: #363636;
$black-100: #202020;

$red-10: #fff1f2;
$red-20: #ffe3e4;
$red-50: #d66d6e;
$red-100: #873f40;

$yellow-10: #ffeba3;
$yellow-50: #fdd263;
$yellow-100: #d3c4a6;

$blue-30: #bceafe;
$blue-50: #9ee2ff;

$background-20: #f3f4f9;
$background-30: #a3b9d6;
$background-50: #9fb0c6;

$weather-dust: #eceae6;
$weather-cloudy: #e9ecf2;
$weather-night: #e6ecfa;
$weather-morning: #e0f0ff;
