.title {
  margin-bottom: 76px;
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  color: $black-80;
  letter-spacing: 0.015em;

  .icon-message {
    display: flex;
    align-items: center;

    svg {
      stroke: $black-60;
    }
  }
}