.card {
    position: relative;
    margin-top: 10px;
    padding: 16px 22px;

    .content {
        display: block;
        font-weight: 500;
    }

    .period {
        margin-top: 8px;
        color: $black-40;
        @include typography(12);
    }

    .link {
        @include position(absolute, bottom 16px right 20px);
        line-height: 0;
        background-color: transparent;
    }
}
