@import "@shared/styles/color.scss";

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;

  span {
    margin: 30px auto;
    color: $primary;
    font-size: 3rem;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto 30px auto;
    border: 1px solid $gray-400;
    border-radius: 7px;
    box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);

    .id-box {
      margin: 30px 30px 0px 30px;
      border-radius: 7px 7px 0 0;
    }

    .pw-box {
      margin: -1px 30px 30px;
      border-radius: 0 0 7px 7px;
    }

    div {
      display: flex;
      height: 50px;
      padding: 2px 5px;
      border: 1px solid $gray-400;
      box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);

      .icon {
        margin: auto 10px;
        color: $gray-400;
        font-size: 1.2rem;
      }

      .lock-box {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background-color: transparent;

        .unlock {
          margin: auto 10px;
          color: $primary;
          font-size: 1.2rem;
        }

        & :hover {
          color: $primary;
        }
      }

      input {
        width: 300px;
        border: none;
        outline: none;
        font-size: 1.2rem;
      }
    }

    .focus {
      z-index: 5;
      padding: 2px 4px;
      border: 2px solid $primary;
    }

    .submit {
      height: 70px;
      padding: 2px 5px;
      margin: 30px;
      border: none;
      border-radius: 7px;
      box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
      background-color: $primary;
      color: $white;
      font-size: 1.5rem;
    }

    p {
      height: 19px;
      margin: 0 30px;
      color: $primary;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
