.menu-list {
  display: flex;

  &:not(:first-child) {
    margin-top: 22px;
  }
}

.menu-item {
  position: relative;

  &:not(:first-child) {
    margin-left: 8px;
  }
}

.menu-image {
  position: relative;
  width: 106px;
  height: 106px;
  border-radius: 18px;

  @media (max-width: $mobile - 1) {
    width: 88px;
  }
}

.more-status {
  @include position(absolute, top 0 right 0 bottom 0 left 0);
  border-radius: 18px;
  background-color: rgba(27, 27, 27, 0.85);
}

.more-plus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 24px auto 0;
}

.more-text {
  display: block;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
