@import "@shared/styles/color.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 32rem;
  min-height: 16rem;
  margin: 0 7rem 2rem 0;
  padding: 1.5rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 1rem;
  background-color: $white;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: $dark-navy;
  }

  div {
    margin: auto 0;
    text-align: center;

    p:nth-child(1),
    p:nth-child(3) {
      font-size: 1.3rem;
      color: $gray-400;

      &:not(:first-child) {
        margin-top: 1.3rem;
      }
    }

    p:nth-child(2) {
      margin-top: 1.3rem;
      font-size: 2rem;
    }
  }
}
