@import "../../../../styles/main.scss";

.menu-box {
  padding: 12px 24px 15px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    color: $black-100;

    .title-box {
      .title {
        @include typography(18);
        line-height: 25px;
        font-weight: 500;
        color: $black-100;
      }

      .button {
        padding: 10px;
        line-height: 1px;
      }
    }

    .time {
      @include typography(14);
      font-weight: 400;
      line-height: 30px;
      color: $black-50;
    }
  }

  .food-box {
    display: flex;
    align-items: center;

    .cafeteria-content {
      @include typography(13);
      margin-top: 14px;
      line-height: 35px;
      color: $black-80;
    }

    .empty-menu {
      @include typography(13);
      margin: 39px 0 27px;
      color: $black-50;
    }
  }
}

.empty-box {
  margin-bottom: 35px;
}
