.radio-box {
  width: 100%;
  display: flex;
  align-items: center;

  .radio-label {
    margin: 0 auto 0 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.015em;
    color: $black-80;
  }
  
  .radio {
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 50%;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid $black-20;
    
    .radio-input {
      width: 0;
      height: 13px;
      margin: auto;
      border-radius: 50%;
      padding: 6.5px;
      &:checked {
        background-color: $red-50;
      }
    }
  }
  .checked {
    border-color: $red-50;
  }
}
