.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 -24px;
  user-select: none;

  .order {
    position: absolute;
    right: 0;
    width: 60px;
    height: 32px;
    padding: 8px;
    margin: 12px 12px 0 0;
    background: rgba(27, 27, 27, 0.85);
    border-radius: 20px;
    color: #fff;
    z-index: 5;
    text-align: center;
  }

  .slider-wrapper {
    overflow-x: hidden;
    transition: 0.6s;
  }

  .slider {
    display: flex;
    align-items: center;
  }

  .dotdotdot {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .dot {
      width: 6px;
      height: 6px;
      margin-right: 6px;
      border-radius: 50px;
      background: $black-20;
    }

    .same {
      background: $red-50;
    }
  }
}
