@import '../../styles/main.scss';

.modal {
  background: #fff;

  .children {
    padding: 0 25px;
  }
}

.guide {
  padding-top: 34px;
  padding-bottom: 73px;
  white-space: pre-wrap;

  .breadcrumb {
    margin-bottom: 12px;
    @include typography(14);
    color: $black-40;
  }

  .phrase {
    @include typography(25);
    color: $black-80;
    font-weight: 500;
  }
}

