@import '../../styles/main.scss';

.modal {
  background: #fff;

  .children {
    padding: 0 25px;
  }
}

.guide {
  padding-top: 34px;
  padding-bottom: 73px;
  white-space: pre-wrap;

  .breadcrumb {
    margin-bottom: 12px;
    @include typography(14);
    color: $black-40;
  }

  .phrase {
    @include typography(25);
    color: $black-80;
    font-weight: 500;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 21px;
  margin-bottom: 12px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  margin-bottom: 12px;
}


.name {
  font-weight: 500;
  @include typography(18);

  svg {
    margin-left: 4px;
  }
}

.description {
  margin-top: 13px;
  @include typography(14);
  color: $black-40;
}
