@import '../../styles/main.scss';

.modal {
  background: #fff;

  .children {
    padding: 0 25px;
  }
}

.guide {
  padding-top: 34px;
  padding-bottom: 73px;
  white-space: pre-wrap;

  .title {
    margin-bottom: 12px;
    @include typography(14);
    color: $black-40;
  }

  .content {
    @include typography(25);
    color: $black-80;
    font-weight: 500;
  }
}

.subscription-box-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px 32px 21px;

  .title {
    margin-right: 7px;
    font-weight: 500;
    @include typography(18);
  }
}

.subscription-box-content {
  display: flex;
  flex-direction: column;
  padding: 18px 21px;

  .title {
    margin-bottom: 13px;
    font-weight: 500;
    @include typography(18);
  }

  .content {
    @include typography(14);
    color: $black-40;
  }

}
