.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: $white;
  height: 60px;
  width: 100%;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-height: 60px;
  padding: 25px 22px 26px;
}

.title {
  @include typography(18);
  @include ellipsis;
  font-weight: 500;
  color: $black-100;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 25px 50px 16px;
}
