.date-button {
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: calc(24px);
    background-color: transparent;
    line-height: 24px;
}

.red-date {
    color: #d66d6e;
}

.gray-date {
    color: #aaaaaa;
}

.selected-circle {
    color: #363636;
    background-color: #ffe3e4;
}

.today-circle {
    color: #ffffff;
    background-color: #d66d6e;
}

.schedule-dot {
    width: 5px;
    height: 5px;
    margin-top: 7px;
    border-radius: calc(5px / 2);
    background-color: #c3c3c3;
}
