.article-detail {

  .report {
    color: $black-50;
  }

  .children {
    height: 100vh;
    padding: 20px 24px;
    background: $black-0;
    overflow-x: hidden;
    overflow-y: auto;

    .title {
      margin-bottom: 2px;
      line-height: 23px;
      font-weight: 500;
      font-size: 14px;
      color: $black-100;
    }

    .info {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 20px;
      color: $black-40;
    }

    .content {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

}