.article-detail {
  .report {
    color: $black-50;
  }

  .children {
    @include safe-area-100vh(min-height, 64px);

    padding: 20px 24px 80px 24px;
    background: $black-0;
    overflow-x: hidden;
    overflow-y: auto;

    .title {
      margin-bottom: 2px;
      line-height: 23px;
      font-weight: 500;
      font-size: 14px;
      color: $black-100;
    }

    .info {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 20px;
      color: $black-40;
    }

    .content {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .heart {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 68px;
      margin-top: 20px;

      .heart-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 112px;
        padding: 12px 0;
        background: $black-10;
        border-radius: 15px;
        color: $black-100;

        .active {
          animation: enlarge 1.5s ease-in-out;

          @keyframes enlarge {
            0% {
              transform: none;
            }

            50% {
              transform: scale(1.3);
            }

            100% {
              transform: none;
            }
          }
        }
      }
    }
  }
}
