.wrap {
  border: 0;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: $black-60;
  background-color: $white;
  border-radius: 100px;
  padding: 4px 12px 5px 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  &:not(:first-child) {
    margin-left: 12px;
  }
}
