.subscription-notice-group {
  .group {
    display: flex;

    .button {
      padding: 10px 0 10px 10px;
    }
    .button:not(:last-child) {
      margin-right: 18px;
    }
  }
  .button-uncheck {
    padding: 10px 0 10px 10px;
  }
  svg {
    stroke: $black-60;
  }
}
