.menu-box {
  padding: 22px 24px 15px;

  .cafeteria-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    color: $black-100;

    .button {
      padding: 0 10px 10px 0;
    }

    .cafeteria-name {
      @include typography(16);
      margin-right: 10px;
      font-weight: 500;
      color: $black-100;
    }
  }

  .food-box {
    display: flex;
    align-items: center;
    justify-content: center;

    .empty-menu {
      @include typography(13);
      margin: 39px 0 27px;
      line-height: 18px;
      color: $black-40;
    }
  }
}
