@import "@shared/styles/color.scss";

.container {
  max-width: 84rem;
  margin: 0 3rem 4.5rem;

  .managerHeader {
    display: flex;
    height: 2.3rem;
    margin-bottom: 5rem;

    h2 {
      height: fit-content;
      font-size: 2.3rem;
      font-weight: 400;
    }

    div {
      margin-left: auto;

      button {
        height: 2.3rem;
        margin-left: 0.5rem;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 2.3rem;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }

        span {
          visibility: hidden;
          z-index: 1;
          position: absolute;
          /* bottom: 100%;
            left: 50%; */
          min-width: 6rem;
          /* width: fit-content; */
          padding: 0.5rem;
          border-radius: 6px;
          background-color: $dark-mode;
          color: $white;
          font-size: 0.8rem;
          text-align: center;
        }

        &:hover span {
          visibility: visible;
        }

        .play {
          color: $google-green;
        }

        .pause {
          color: $google-yellow;
        }

        .stop {
          color: $google-red;
        }

        .replay {
          color: $light-blue;
          transition: transform ease 0.5s;

          &:hover {
            transform: rotate(-180deg);
          }
        }

        .disabled {
          color: $gray-400;
          cursor: not-allowed;
        }
      }
    }
  }

  .managerBox {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 2rem 2rem;
  }
}
