@mixin no-line {
  border: none;
  outline: none;
}

@mixin preview {
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  a {
    text-decoration: underline;
    color: $blue-200;
  }

  a[class="ql-align-left"],
  p[class="ql-align-left"],
  span[class="ql-align-left"],
  strong[class="ql-align-left"],
  em[class="ql-align-left"] {
    text-align: left;
  }
  a[class="ql-align-center"],
  p[class="ql-align-center"],
  span[class="ql-align-center"],
  strong[class="ql-align-center"],
  em[class="ql-align-center"] {
    text-align: center;
  }
  a[class="ql-align-right"],
  p[class="ql-align-right"],
  span[class="ql-align-right"],
  strong[class="ql-align-right"],
  em[class="ql-align-right"] {
    text-align: right;
  }

  a[class="ql-size-small"],
  p[class="ql-size-small"],
  span[class="ql-size-small"],
  strong[class="ql-size-small"],
  em[class="ql-size-small"] {
    font-size: 0.75em;
  }

  a[class="ql-size-large"],
  p[class="ql-size-large"],
  span[class="ql-size-large"],
  strong[class="ql-size-large"],
  em[class="ql-size-large"] {
    font-size: 1.5em;
  }

  a[class="ql-size-huge"],
  p[class="ql-size-huge"],
  span[class="ql-size-huge"],
  strong[class="ql-size-huge"],
  em[class="ql-size-huge"] {
    font-size: 2.5em;
  }
}

@mixin roundBox($width: auto, $border: none, $background-color: $white, $color: $black) {
  display: block;
  margin-top: 15px;
  height: 40px;
  width: $width;
  padding: 10px;
  border: $border;
  border-radius: 10px;
  font-size: 15px;
  line-height: 22px;
  background-color: $background-color;
  color: $color;
}
