@import "../../../styles/main.scss";

.box {
    padding: 19px 27px 10px;
    color: $black-80;
    background-color: $black-0;

    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;

        .fraction {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 26px;
            height: 48px;
        }
    }
}
