.notice-detail {
  background: #fff;

  .children {
    height: calc(var(--vh, 1vh) * 100 - 60px);
    padding: 18px 22px;
    border-top: 1px solid $background-20;
    background: #fff;

    .header {
      .title {
        margin-bottom: 8px;
        color: $black-100;
        @include typography(14);
        font-weight: 500;
      }

      .detail {
        display: flex;
        color: $black-40;
        @include typography(12);
      }
    }

    .content {
      padding: 18px 0 84px;

      .article-image-wrapper {
        margin-bottom: 16px;

        .article-image {
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
