@import "@shared/styles/color.scss";

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  width: 19rem;
  min-height: 9rem;
  padding: 1.5rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 1rem;
  background-color: $white;

  &:hover {
    box-shadow: 0 0 0 0.2rem $light-blue;
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: $dark-navy;
  }

  .tag {
    margin-top: 0.5rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-color: $light-blue;
    color: $white;
  }

  .status-container {
    display: flex;
    position: absolute;
    right: 1rem;
    align-items: center;

    span {
      margin-right: 0.3rem;
      font-size: 0.9rem;
      color: $gray-500;
    }

    div {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
    }

    .green {
      background-color: $google-green;
    }

    .yellow {
      background-color: $google-yellow;
    }

    .red {
      background-color: $google-red;
    }

    .gray {
      background-color: $gray-500;
    }
  }
}
