.wrap {
  position: relative;
  overflow-y: hidden;
  background-color: $white;
}

.textarea {
  @include typography(14);
  width: 100%;
  height: 600px;
  margin-top: 70px;
  overflow-y: auto;
  padding: 12px 18px 20px;
  border-top: 1px solid #f3f4f9;

  &::placeholder {
    color: $black-20;
  }
}

.button {
  @include safe-area-position(fixed, bottom 14px right 14px);
  display: flex;
  justify-content: center;
  height: 62px;
  width: 62px;
  z-index: 100;
  border-radius: 50%;
  background-color: $red-50;
}
