@import "../../../styles/main.scss";

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid $background-20;
    background-color: $black-0;

    .container {
        display: flex;
        align-items: center;
    }

    .add-link {
        position: absolute;
        right: 22px;
    }
}
