@import "@shared/styles/color.scss";
@import "src/styles/mixin.scss";

.boardWrite {
  display: flex;
  margin-left: 13rem;

  .title {
    @include no-line();
    width: 100%;
    height: fit-content;
    resize: none;
    background-color: transparent;
    color: $black;
    font-size: 2.75rem;
    font-weight: 500;
    word-break: break-all;
  }
  
  form {
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    @media screen and (min-width: 1025px) {
      width: 50%;
    }
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    textarea {
      cursor: pointer;
    }
    hr {
      width: 5rem;
      height: 0.5rem;
      margin: 1.5rem 0;
      background-color: $dark-mode;
    }

    .warn::placeholder {
      color: $google-red;
    }
    .category {
      display: flex;
      width: fit-content;
      height: 2rem;
      align-items: center;
      padding: 0 0.5rem;
      border-radius: 0.7rem;
      background-color: $white;
      font-size: 1.4rem;
      cursor: pointer;
      input {
        @include no-line();
        font-size: 0.8rem;
        cursor: pointer;
        &::-webkit-calendar-picker-indicator {
          display: none !important;
        }
      }
      &:hover {
        box-shadow: 0 0 0 0.1rem $light-blue;
      }
    }

    .submit {
      @include no-line();
      width: 6.5rem;
      height: 2.3rem;
      border-radius: 0.3rem;
      background-color: #005299;
      color: $white;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: $light-blue;
      }
    }
  }

  section {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    @media screen and (min-width: 1025px) {
      display: flex;
    }
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
    overflow: auto;
    padding: 2.5rem;
    background-color: $white;
    .title {
      display: inline-block;
      min-height: 5rem;
      line-height: 1.2;
      margin-bottom: 5rem;
    }
    div {
      @include preview();
      font-size: 1.1rem;
    }
  }
}
