.article-list {
  height: 100%;
}

.empty-article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100 - ($safe-area-top-11 + $safe-area-bottom-11));
  height: calc(var(--vh, 1vh) * 100 - ($safe-area-top-11-2 + $safe-area-bottom-11-2));
}
