@import '../../../styles/main.scss';

.notice {
  padding: 20px 24px 24px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    @include typography(16);
    font-weight: 500;

    .categories {
      .category {
        @include typography(14);
        font-weight: 400;
        color: $black-40;
      }

      .category:first-child {
        margin-right: 22px;
      }


      .active {
        color: $red-50;
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
  }
}
