.button {
  margin: 0 23px 35px 0;
  text-align: left;

  .container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 20px;

    .schedule-name {
      width: 195px;
      @include ellipsis(2);
      @include typography(16);
      font-weight: 500;
      line-height: 25px;
      color: $black-80;
    }

    .long-schedule-name {
      font-size: 14px;
      line-height: 23px;
    }

    .period {
      margin-top: 9px;
      @include typography(12);
      line-height: 20px;
      color: $black-50;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
