@import "../../../styles/main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 23px;
  margin-bottom: 35px;

  .schedule-name {
    width: 195px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include typography(16);
    font-weight: 500;
    line-height: 23px;
    color: $black-80;
  }

  .long-schedule-name {
    font-size: 14px;
  }

  .period {
    margin-top: 9px;
    @include typography(12);
    color: $black-40;
  }

  &:last-child {
    margin-right: 0;
  }
}
