@import "../../../styles/main.scss";

.cafeteria {
    margin-bottom: 35px;

    .border-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .food-icon {
            margin-top: 22px;
        }

        .main-description {
            margin-top: 9px;
            @include typography(14);
            color: $black-40;
            font-weight: 500;
        }

        .sub-description {
            display: flex;
            flex-direction: center;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            text-align: center;
            color: $black-40;
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        color: $black-100;

        .location {
            @include typography(16);
            font-weight: 500;

            > svg {
                margin-left: 10px;
            }
        }

        .time {
            color: $black-40;
        }
    }
    .cafeteria-content {
        padding: 21px 20px 0px 0px;
        line-height: 25px;
        font-size: 13px;

        > p {
            margin-bottom: 28px;
            color: $black-80;
        }
    }
}
