$black: #222;
$primary: #862d4e;
$gray-300: #f4f5f7;
$gray-400: #bdbdbd;
$gray-500: #686b72;
$white: #fff;
$blue-200: #0052cc;
$blue-300: #005299;
$google-red: #e24134;
$google-yellow: #f3b606;
$google-green: #31a350;
$dark-navy: #091e42;
$dark-mode: #292a2d;

$background: #f6faff;
$red-50: #D66D6E;
$black-80: #363636;
$black-100: #202020;
$black-40: #aaa;
