$black: #222;
$primary: #862d4e;
$gray-300: #f4f5f7;
$gray-400: #bdbdbd;
$gray-500: #686b72;
$white: #fff;
$middleBlue: #005299;
$light-blue: #0052cc;
$google-red: #e24134;
$google-yellow: #f3b606;
$google-green: #31a350;
$dark-navy: #091e42;
$dark-mode: #292a2d;
