@import "./main.scss";
@import "./font.scss";

:root {
  --vh: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Spoqa Han Sans Neo", "Sans-serif", serif;
  background-color: transparent;
  touch-action: pan-x pan-y;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.002em;
  width: 100%;
  height: 100%;
  background: $background-20;
  touch-action: pan-x pan-y;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

textarea,
input,
button,
select,
a {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  border: 0;
  vertical-align: top;
  touch-action: pinch-zoom !important;
}

em {
  font-style: normal;
}

textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  -webkit-overflow-scrolling: touch;
}

input {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

hr {
  margin: 0;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}