@mixin flicking {
  overflow-y: hidden;
  overflow-x: auto;
}

@mixin ellipsis ($line : 1) {
  @if($line == 1) {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin hover-status($color, $decoration) {
  color: $color;
  text-decoration: $decoration;
}

@mixin position($position, $args: ()) {
  $offsets: top right bottom left;
  position: $position;

  @each $offset in $offsets {
    $index: index($args, $offset);

    @if $index {
      $next: nth($args, $index + 1);
      @if $next {
        #{$offset}: $next;
      } @else {
        @warn "Invalid value `#{$next}` for offset `#{$offset}`.";
      }
    }
  }
}
