$G-z-index-0: -1;
$G-z-index-1: 10;
$G-z-index-2: 20;
$G-z-index-3: 30;
$G-z-index-4: 40;
$G-z-index-5: 50;
$G-z-index-6: 60;
$G-z-index-7: 70;
$G-z-index-8: 80;
$G-z-index-9: 90;
$G-z-index-10: 100;

$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$pc: 1280px;

$border-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
