svg path {
    stroke: #aaa;
}

.active {
    svg path {
        stroke: #d66d6e;
    }
    .label {
        color: #d66d6e;
    }
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    .label {
        margin-top: 6px;
        color: #aaa;
    }
}
