.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 64px;
  align-items: center;

  .label {
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    color: $black-60;
  }
}

.active {
  svg path {
    stroke: $red-50;
  }

  .label {
    color: $red-50;
  }
}
