.reload-button-with-text {
  display: flex;
  align-items: center;
  justify-content: center;

  .reload-text {
    @include typography(14);
    margin-left: 5px;
    color: $background-50;
  }
}

.reload-button {
  height: 60px;
  padding: 17px 24px;
}
