$cafeteria-header: 109px;
$cafeteria-body-padding: 24px;
$cafeteria-padding-top: $cafeteria-header + $cafeteria-body-padding;
$cafeteria-padding-bottom: $footer + $cafeteria-body-padding;

.cafeteria {
  padding: $cafeteria-padding-top $cafeteria-body-padding $cafeteria-padding-bottom;
}

.no-menu {
  @include safe-area-100vh(height, 0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .go-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      margin-top: 20px;
      line-height: 26px;
      font-size: 16px;
      color: $background-50;
    }
  }

  .reload-button {
    padding: 19px;
  }
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .reload-button {
    padding: 20px 20px 20px 28px;
  }

  .share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 28px 20px 20px;
  }
}
