.board-list {
  height: calc(var(--vh, 1vh) * 100 - 310px - ($safe-area-top-11 + $safe-area-bottom-11));
  height: calc(var(--vh, 1vh) * 100 - 310px - ($safe-area-top-11-2 + $safe-area-bottom-11-2));
  overflow-y: auto;

  > a {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
