@import "@shared/styles/color.scss";

@mixin roundBox($width: fit-content, $border: none, $background-color: $white, $color: $black) {
    display: block;
    margin-top: 15px;
    height: 40px;
    width: $width;
    padding: 10px;
    border: $border;
    border-radius: 10px;
    font-size: 15px;
    background-color: $background-color;
    color: $color;
}

.container {
    margin: 3rem 3rem 0 15rem;

    .title {
        margin-bottom: 50px;
        font-size: 2rem;
        font-weight: 500;
    }

    .main {
        display: flex;

        .error-message {
            display: block;
            margin-top: 5px;
            color: $google-red;
        }

        .label {
            display: block;
            color: $gray-500;

            &:not(:first-child) {
                margin-top: 10px;
            }

            .input {
                @include roundBox(250px, 2px solid $gray-400);

                &:focus {
                    border: 2px solid $blue-200;
                }
            }

            .select {
                @include roundBox($border: 2px solid $gray-400);

                &:focus {
                    border: 2px solid $blue-200;
                }
            }

            .yellow-option {
                color: $google-yellow;
            }
        }

        .submit-button {
            @include roundBox($width: 250px, $background-color: $blue-200, $color: $white);

            &:hover {
                background-color: $google-green;
            }
        }
    }

    .side-section {
        margin-left: 100px;

        .boardlist-title {
            color: $gray-500;
        }

        .board-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            min-height: 30px;
            margin-top: 10px;
            border: 2px solid $blue-200;
            border-radius: 10px;
            background-color: $white;
            color: $blue-200;

            .delete-board-button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                background-color: transparent;
                color: $gray-500;
                font-size: 20px;
            }
        }
    }
}
