@import "@shared/styles/color.scss";
@import "src/styles/mixin.scss";

.editor {
  width: 100%;
  margin: 1rem 0;
  background-color: $white;
  div:nth-of-type(2) {
    height: 36rem;
    font-size: 1rem;
    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }
  }
}
