.board-article {
  .left {
    span {
      margin-left: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: $black-100;
    }
  }


  .article-list-wrap {
    margin-top: 8px;
  }
}