.board-article {
  .left {
    svg {
      height: 16px;
      stroke: $black-60;
    }
    span {
      margin-left: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: $black-100;
    }
  }
  .right {
    padding-right: 24px;
  }
  .article-list-wrap {
    margin-top: 8px;
    height: calc(100% - 8px);
  }
}
