@import "@shared/styles/color.scss";

.pagination {
    display: flex;
    justify-content: center;

    .page {
        background-color: $white;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        padding: 0.7rem;
        margin: 0px 4px;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .current {
        font-weight: bold;
    }
}
