.weather {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    .weather-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 30px 25px 29px;

        .first {
            display: flex;
            flex-direction: column;

            .amount {
                margin-bottom: 15px;
                color: $black-80;
                @include typography(22);
            }

            .description {
                margin-bottom: 17px;
                @include typography(14);
                color: $black-60;
            }

            .celsius {
                @include typography(12);
                line-height: 20px;
                color: $black-50;
            }
        }

        .second {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;

            .more {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 5px;
                }
                color: $black-40;
            }
        }
    }
}
