.weather {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    .weather-box {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;    

        .first {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .amount {
                margin-bottom: 11px;
                color: $black-80;
                @include typography(22);
            }

            .description {
                margin-bottom: 12px;
                @include typography(14);
                color: $black-60;
            }

            .celsius {
                @include typography(12);
                line-height: 20px;
                color: $black-50;
            }
        }

        .second {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 26px;

            .more {
                @include typography(12);
                display: flex;
                align-items: center;
                margin-bottom: 24px;

                svg {
                    margin-right: 5px;
                }
                color: $black-40;
            }
        }
    }
}
