@import "../../../styles/main.scss";

.radio-box {
    display: flex;
    width: 288px;
    height: 41px;
    margin: 12px auto 0;
    padding: 2px;
    border-radius: calc(41px / 2);
    background-color: $black-10;
}
