.menu-list {
  @include flicking;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 6px 12px;
  background-color: $white;
  border-top: 1px solid $background;

  .menu {
    display: flex;
    align-items: center;
    padding: 6.5px 18px;
    line-height: 23px;
    white-space: nowrap;
    background-color: $white;
    color: $black-80;

    &:not(:first-child) {
      margin-left: 16px;
    }

    &-clicked {
      font-size: 14px;
      font-weight: 500;
      background-color: $red-50;
      color: $white;
      border-radius: 100px;

      &:hover {
        @include hover-status($white, none);
      }
    }

    &-not-clicked {
      &:hover {
        @include hover-status(inherit, none);
      }
    }
  }
}
