@import '../../../styles/main.scss';

.full-modal {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 25px;
  background: #fff;

  .left {
    display: flex;
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include typography(18);
    font-weight: 500;
  }
}
