.full-modal {
  @include safe-area-100vh(height, 0px);

  .header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 24px;
    background: #fff;

    .left {
      display: flex;
    }

    .title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include typography(18);
      font-weight: 500;
    }
  }

  .children {
    overflow: auto;
    height: calc(100% - 60px);
  }
}
