.setting {
  .content {
    padding: 8px;
    background: #F3F4FA;
  }
  
  img {
    width: 100%;
    padding-top: 50%;
    object-fit: scale-down;
  }  
}

img {
  width: 100%;
  padding-top: 50%;
  object-fit: scale-down;
}
