.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 49px;

    .date-button {
        @include typography(14);
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        line-height: 24px;
        color: $black-80;
    }

    .red-date {
        color: $red-50;
    }

    .gray-date {
        color: $black-40;
    }

    .selected-circle {
        color: $black-80;
        background-color: $red-20;
    }

    .today-circle {
        color: $black-0;
        background-color: $red-50;
    }

    .schedule-dot {
        width: 5px;
        height: 5px;
        margin-top: 7px;
        border-radius: calc(5px / 2);
        background-color: $black-20;
    }
}
