@import "@shared/styles/main.scss";

.file-label {
  width: 100px;
  text-align: center;
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.7rem;
  background-color: $blue-300;
  font-size: 0.8rem;
  font-weight: 500;
  color: $white;
  cursor: pointer;
  .isLoading {
    cursor: not-allowed;
  }
}
