.swiper-image {
  position: relative;
  margin: 0 -24px;

  .order {
    position: absolute;
    right: 0;
    width: 60px;
    height: 32px;
    padding: 8px;
    margin: 12px 12px 0 0;
    background: rgba(27, 27, 27, 0.85);
    border-radius: 20px;
    color: #fff;
    z-index: 5;
    text-align: center;
  }

  .images {
    overflow-x: hidden;

    .images-wrapper {
      display: flex;
    }

      .image {
        min-width: 100%;
        height: auto;
        object-fit: contain;
      }
  }

  .buttons {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button:disabled {
      visibility: hidden;
    }
  }

  .left, .right {
    width: 40px;
    height: 40px;
    background: rgba(27, 27, 27, 0.95);
    border-radius: 50%;
    svg {
      stroke: $black-0;
    }
  }

  .right {
    transform: rotate(180deg);
  }

  .dotdotdot {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .dot {
      width: 6px;
      height: 6px;
      margin-right: 6px;
      border-radius: 50px;
      background: $black-20;
    }

    .same {
      background: $red-50;
    }
  }
}