.card {
  margin-bottom: 8px;

  .atom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;

    .status {
      display: flex;
      justify-content: flex-end;
    }
  }
}
