.footer {
  @include position(fixed, bottom 0 left 50%);
  transform: translateX(-50%);
  @include safe-area-width-100-percent(width, 0px);
  height: 64px;
  z-index: 110;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  padding-bottom: $safe-area-bottom-11;
  padding-bottom: $safe-area-bottom-11-2;
  background: #fff;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.03);
  border-radius: 15px 15px 0px 0px;

  .캠퍼스맵 {
    svg {
      width: 16px;
    }
  }
}
