.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 110;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.03);
  border-radius: 15px 15px 0px 0px;

  .캠퍼스맵 {
    svg {
      width: 16px;
    }
  }
}
